.filter {
    margin-right: 15px;
    position: relative;

    height: 40px;
    width: 160px;

    &__btn {
        align-items: center;
        display: flex;
        justify-content: space-between;

        cursor: pointer;

        padding: 12px 20px;

        height: 100%;
        width: 100%;   
    }

    &__list {
        background: #F3F3F3;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
        
        padding-top: 10px;

        position: absolute;
        top: 50px;
        right: 0px;

        visibility: hidden;
        opacity: 0;

        transition: all 0.2s ease-in-out;

        width: 100%;
        z-index: 1;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        &-wrapper {
            overflow-y: overlay;

            height: 145px;
            width: 100%;

            &::-webkit-scrollbar {
                width: 8px;
        
                &-track {
                    background: transparent;
                }
        
                &-thumb {
                    background: #E47F46;
                    background-clip: padding-box;
                    border-right: 3px solid transparent;
                }
            }
        }

        &-link {
            border-top: 1px solid #E5E3E0;

            display: block;

            padding: 5px;

            width: 100%;
        }

        &-btn {
            background: #E47F46;
            border-radius: 5px;

            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;

            transition: background 0.2s ease-in-out;

            height: 30px;
            width: 100%;

            &:hover {
                background: lighten(#E47F46, 5%);
            }

            &:active {
                background: darken(#E47F46, 5%);
            }
        }
    }
}

.filter-title {
    font-size: 16px;
    font-weight: 600;

    &__left {
        margin-right: 10px;
    }

    &__right {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
    }
}

.list-wrapper {
    margin-bottom: 5px;

    &__el {
        align-items: center;
        display: flex;
        justify-content: space-between;

        cursor: pointer;

        padding-left: 10px;
        padding-right: 5px;

        transition: background 0.1s ease-in-out;

        width: 100%;

        &:hover {
            background: #f5d8c4;;
        }

        &-text {
            font-size: 18px;
            font-weight: 500;

            padding: 6px 0px;
        }

        &-icon {
            height: 13px;
            width: 18px;
        }
    }
}

@media(max-width: 1000px) {
    .filter {
        border-bottom: 1px solid #E5E3E0;
        
        margin-right: 0px;

        height: auto;
        width: 100%;

        &__icon {
            display: none;
        }

        &__btn {
            background: #F3F3F3 !important;
            border-radius: 0px !important;

            color: #212121 !important;

            padding: 10px 10px 20px;
            pointer-events: none;
        }

        &__list {
            border-radius: 0px;
            box-shadow: none;

            position: static;

            padding-top: 0px;

            opacity: 1;
            visibility: visible;

            &-wrapper {
                overflow: auto;
                
                height: auto;
            }

            &-link {
                display: none;
            }
        }
    }

    .list-wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        padding: 0px 10px;
        margin-bottom: 10px;

        &__el {
            background: #E5E3E0;
            border-radius: 50px;

            padding: 0px 15px;
            margin-right: 15px;
            margin-bottom: 10px;

            width: auto;

            &-text {
                font-size: 14px;
            }

            &-icon {
                display: none;
            }

            &:hover {
                background: darken(#E5E3E0, 10%);
            }

            &.active {
                background: #212121;

                color: #FFFFFF;
            }
        }
    }
}
