.filter {
    border-bottom: 1px solid #E5E3E0;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 5px;

    &__title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;

        &-item {
            background: #E5E3E0;
            border-radius: 30px;
            cursor: pointer;
            padding: 5px 15px;
            margin-right: 15px;
            margin-bottom: 15px;
            transition: all 0.1s linear;

            &:last-child {
                margin-right: 0px;
            }

            &.active {
                color: #FFFFFF;
                background: #E47F46;
            }
        }
    }
}


@media(hover: hover) {
    .filter__items-item:hover {
        background: darken(#E5E3E0, 20%);
        color: #FFFFFF;

        &.active {
            background: #E47F46;
        }
    }
}
