.cart-item {
    align-items: center;
    display: flex;

    background: #FFFFFF;
    border-radius: 20px;  

    margin-bottom: 20px;

    padding: 20px;

    height: 220px;
    width: 100%;

    &__img {
        border-radius: 10px;
        
        cursor: pointer;

        margin-right: 10px;

        height: 100%;
        width: 180px;
    }

    &__data {
        display: flex;
        flex-direction: column;

        width: 100%;

        &-title {
            align-items: center;
            display: flex;
            justify-content: space-between;

            margin-bottom: 20px;

            & span:first-child {
                cursor: pointer;
                
                font-size: 18px;
                font-weight: 600;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                max-width: 300px;
            }

            & span:last-child {
                font-family: "Oswald", sans-serif;
                font-size: 18px;
                font-weight: 700;

                margin-left: 10px;
                min-width: 60px;
            }
        }

        &-size {
            margin: 15px 0px;
        }
    }
}

.cart-btns {
    align-items: center;
    display: flex;

    &__delete,
    &__favorite {
        align-items: center;
        display: flex;
        justify-content: center;

        background: #212121;

        height: 35px;
    }

    &__delete {
        border-radius: 100px;

        margin-right: 10px;

        width: 35px;

        & svg {
            height: 16px;
            width: 12px;

            & path {
                transition: all 0.1s linear;
            }
        }
    }

    &__favorite {
        border-radius: 50px;
        
        color: #FFFFFF;

        transition: all 0.1s linear;
        width: 150px;

        & svg {
            margin-right: 10px;

            height: 16px;
            width: 20px;

            & path {
                transition: all 0.1s linear;
            }
        }
    }
}

.amount {
    align-items: center;
    display: flex;

    margin-bottom: 20px;

    width: 100%;

    &__substract, 
    &__add {
        align-items: center;
        display: flex;
        justify-content: center;

        background: #F47E46;
        border-radius: 5px;

        transition: all 0.1s linear;
        height: 30px;
        width: 30px;

        &:hover {
            background: lighten(#F47E46, 5%);
        }

        &:active {
            background: darken(#F47E46, 5%);
        }

        &:disabled {
            background: #E5E3E0;
        }
    }

    &__counter {
        font-family: "Oswald", sans-serif;
        font-size: 18px;

        margin: 0px 15px;
    }
}

@media(hover: hover) {
    .cart-btns__delete:hover svg path {
        fill: #F47E46;
    }

    .cart-btns__favorite:hover {
        color: #FE4545;

        & svg path {
            fill: #FE4545;
        }
    }
}

@media(max-width: 767px) {
    .cart-item__data-title span:first-child {
        max-width: 200px;
    }
}

@media(max-width: 600px) {
    .cart-item__data-title span:first-child {
        max-width: 130px;
    }
}

@media(max-width: 500px) {
    .cart-item {
        border-radius: 10px;

        padding: 5px;

        margin-bottom: 10px;
        
        height: 130px;
        width: 100%;

        &__img {
            border-radius: 8px;

            width: 120px;
        }

        &__data-title {
            margin-bottom: 5px;

            & span:first-child {
                font-size: 14px;

                max-width: 200px;
            }

            & span:last-child {
                font-size: 14px;
            }
        }

        &__data-size {
            margin: 5px 0px;
        }
    }

    .cart-btns__delete,
    .cart-btns__favorite {
        height: 24px;
    }

    .cart-btns__delete {
        width: 24px;

        & svg {
            height: 14px;
            width: 10px;
        }
    }

    .cart-btns__favorite {
        width: 130px;

        & svg {
            height: 13px;
            width: 16px;
        }
    }

    .amount {
        margin-bottom: 15px;

        &__substract,
        &__add {
            height: 20px;
            width: 20px; 
        }

        &__counter {
            font-size: 14px;

            margin: 0px 10px;
        }
    }
}

@media(max-width: 440px) {
    .cart-item__data-title span:first-child {
        max-width: 150px;
    }
}

@media(max-width: 390px) {
    .cart-item__data-title span:first-child {
        max-width: 100px;
    }
}

@media(max-width: 350px) {
    .cart-btns__favorite {
        width: 30px;

        & svg {
            margin-right: 0px;
        }

        & span {
            display: none;
        }
    }
}