.cart {
    display: flex;
    flex-direction: column;

    padding: 30px 30px 0px;

    max-width: 1280px;
    height: 100%;
    width: 100%;

    &__title {
        align-items: center;
        display: flex;
        flex: 0 0 auto;

        margin-bottom: 30px;

        & span:first-child {
            font-size: 32px;
            font-weight: 700;
    
            margin-right: 20px;
        }

        & span:last-child {
            color: #828282;
            font-size: 18px;
            font-weight: 700;
        }
    }

    &__sections {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;

        margin-bottom: 10px;

        position: relative;

        &-items {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;

            max-width: 620px;
            width: 100%;
        }
    }
}

.order {
    background: #FFFFFF;
    border-radius: 10px;

    display: flex;
    flex: 0 1 auto;
    flex-direction: column;

    padding: 20px;
    margin-left: 30px;

    position: sticky;
    top: 30px;

    max-width: 450px;
    height: 250px;
    width: 100%;

    &__title {
        font-size: 24px;
        font-weight: 600;

        margin-bottom: 20px;
    }

    &__total,
    &__check {
        align-items: center;
        display: flex;
        justify-content: space-between;

        width: 100%;

        & span:last-child {
            font-family: "Oswald", sans-serif;
        }
    }

    &__check {
        margin-bottom: 60px;
    }

    &__total {
        font-size: 24px;
        font-weight: 700;

        margin-bottom: 25px;
    }

    &__btn {
        border-radius: 10px !important;

        font-size: 20px;
        font-weight: 600;

        height: 40px;
        width: 100%;
    }
}

@media(max-width: 1000px) {
    .cart__sections {
        flex-direction: column;
    }

    .order {
        margin-left: 0px;

        max-width: 620px;
        position: static;
    }
}

@media(max-width: 767px) {
    .cart {
        padding: 20px 20px 0px;

        &__title {
            font-size: 24px;

            & span:first-child {
                font-size: 24px;
            }
        }

        &__sections {
            align-items: center;
        }
    }

    .order__total {
        margin-bottom: 15px;
    }

    .order__btn {
        font-size: 18px;
    }
}

@media(max-width: 500px) {
    .cart {
        padding: 10px 10px 0px;

        &__title {
            margin-bottom: 10px;
    
            & span:first-child {
                font-size: 16px;
        
                margin-right: 10px;
            }
    
            & span:last-child {
                font-size: 14px;
            }
        }
    }

    .order {
        padding: 10px;

        height: 170px;
        width: 100%;

        &__title {
            font-size: 14px;

            margin-bottom: 10px;
        }

        &__check {
            margin-bottom: 50px;
        }

        &__total {
            font-size: 18px;

            margin-bottom: 10px;
        }

        &__btn {
            border-radius: 8px !important;

            font-size: 14px;

            height: 30px;
        }
    }
}
