.goods-item {
    background: #FFFFFF;
    border-radius: 50px;

    cursor: pointer;

    display: flex;
    flex-direction: column;

    margin: 0px 15px 20px;
    padding: 10px;

    position: relative;
    transition: all 0.1s linear;

    max-width: 280px;

    &__icon {
        align-items: center;
        display: flex;
        justify-content: center;

        background: #212121;
        border-radius: 100px;

        position: absolute;
        right: 25px;
        top: 25px;

        height: 40px;
        width: 40px;

        & svg {
            height: 60%;
            width: 60%;

            & path {
                transition: all 0.1s linear;
            }
        }
    }

    &__image {
        border-radius: 50px;

        pointer-events: none;

        height: 282px;
        width: 100%;
    }

    &__title {
        color: #828282;
        font-size: 20px;
        font-weight: 600;

        margin: 20px 0px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__price {
        font-family: "Oswald", sans-serif;
        font-size: 24px;
        font-weight: 700;

        text-align: center;
    }
}

@media(hover: hover) {
    .goods-item:hover {
        box-shadow: 2px 0px 44px 5px rgba(171, 171, 171, 0.2);
        transform: scale(1.01);
        z-index: 1;
    }
}

@media(max-width: 767px) {
    .goods-item {
        border-radius: 20px;

        margin: 0px 10px 15px;

        width: 200px;

        &__icon {
            top: 20px;
            right: 20px;

            height: 30px;
            width: 30px;
        }

        &__image {
            border-radius: 20px;

            height: 190px;
        }

        &__title {
            font-size: 16px;

            margin: 10px 0px 15px;
        }

        &__price {
            font-size: 20px;
        }
    }
}

@media(max-width: 500px) {
    .goods-item {
        border-radius: 10px;

        margin: 0px 5px 10px;

        padding: 5px;

        width: 145px;

        &__icon {
            top: 10px;
            right: 10px;

            height: 25px;
            width: 25px;
        }

        &__image {
            border-radius: 10px;

            height: 140px;
        }

        &__title {
            font-size: 14px;

            margin: 5px 0px 10px;
        }

        &__price {
            font-size: 16px;
        }
    }
}
