.goods-item {
    background: #FFFFFF;
    border-radius: 20px;

    cursor: pointer;

    display: flex;
    flex-direction: column;

    margin: 0px 12px 20px;
    padding: 10px;

    position: relative;
    transition: all 0.1s linear;

    max-width: 320px;

    &__icon {
        align-items: center;
        display: flex;
        justify-content: center;

        background: #212121;
        border-radius: 100px;

        position: absolute;
        right: 25px;
        top: 25px;

        height: 40px;
        width: 40px;

        & svg path {
            transition: all 0.1s linear;
        }
    }

    &__image {
        border-radius: 10px;

        pointer-events: none;

        height: 325px;
        width: 100%;
    }

    &__title {
        color: #828282;
        font-size: 20px;
        font-weight: 600;

        margin: 15px 0px 20px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__price {
        font-family: "Oswald", sans-serif;
        font-size: 24px;
        font-weight: 700;

        text-align: center;
    }
}

@media(hover: hover) {
    .goods-item:hover {
        box-shadow: 2px 0px 44px 5px rgba(171, 171, 171, 0.2);
        transform: scale(1.01);
        z-index: 1;
    }
}

@media(max-width: 767px) {
    .goods-item {
        width: 260px;

        &__image {
            height: 250px;
        }

        &__title {
            font-size: 18px;
        }

        &__price {
            font-size: 20px;
        }
    }
}

@media(max-width: 400px) {
    .goods-item {
        width: 200px;

        &__image {
            height: 180px;
        }

        &__title {
            font-size: 16px;
        }

        &__price {
            font-size: 18px;
        }
    }
}
