.goods-item {
    background: #FFFFFF;
    border-radius: 50px;

    cursor: pointer;

    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;

    position: relative;
    transition: all 0.2s ease-in-out;

    height: 390px;
    width: 280px;

    &__icon {
        position: absolute;
        right: 25px;
        top: 25px;

        height: 40px;
        width: 40px;
    }

    &__image {
        border-radius: 50px;

        pointer-events: none;

        height: 280px;
        width: 260px;
    }

    &__title {
        color: #828282;
        font-size: 18px;
        font-weight: 600;

        margin: 20px 0px;
        padding: 0px 10px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap
    }

    &__price {
        font-size: 24px;
        font-weight: 700;

        text-align: center;
    }
}

@media(hover: hover) {
    .goods-item:hover {
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.241);
        transform: scale(1.02);
        z-index: 1;
    }
}

@media(max-width: 1600px) {
    .goods-item {
        margin-right: 40px;
    }
}

@media(max-width: 1400px) {
    .goods-item {
        margin-right: 20px;
    }
}

@media(max-width: 1370px) {
    .goods-item {
        margin-bottom: 30px;
    }
}

@media(max-width: 1320px) {
    .goods-item {
        margin-right: 30px;
    }
}

@media(max-width: 970px) {
    .goods-item {
        margin-right: 10px;
    }
}

@media(max-width: 910px) {
    .goods-item {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media(max-width: 767px) {
    .goods-item {
        margin-bottom: 20px;
    }
}

@media(max-width: 700px) {
    .goods-item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(max-width: 620px) {
    .goods-item {
        border-radius: 5px;

        padding: 5px;

        height: 190px;
        width: 145px;

        &__icon {
            top: 10px;
            right: 10px;

            height: 26px;
            width: 26px;
        }

        &__image {
            border-radius: 5px;

            height: 140px;
            width: 135px;
        }

        &__title {
            font-size: 14px;

            margin: 5px 0px; 
            padding: 0px;
        }

        &__price {
            font-size: 14px;
        }
    }
}

@media(max-width: 505px) {
    .goods-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(max-width: 400px) {
    .goods-item {
        margin-bottom: 10px;
    }
}

@media(max-width: 350px) {
    .goods-item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(max-width: 330px) {
    .goods-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(max-width: 320px) {
    .goods-item {
        margin-bottom: 20px;
    }
}
