.page-up {
    background: #E47F46;
    border-radius: 100px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: -50px;
    right: 30px;
    transition: all 0.1s linear;
    height: 40px;
    width: 40px;
    z-index: 2;

    &.active {
        bottom: 30px;
    }
}
