.goods {
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 0px 60px;

    max-width: 1600px;
    width: 100%;

    &__title {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 50px;
        padding: 0px 60px;

        width: 100%;

        &-left {
            font-size: 28px;
            font-weight: 600;
        }

        &-right {
            color: #E47F46;
            font-size: 24px;
            font-weight: 500;

            cursor: pointer;

            transition: all 0.1s linear;

            & svg {
                visibility: hidden;
                opacity: 0;
                transition: all 0.1s linear; 
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
    }
}

.gender {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;

    margin-top: 10px;
    margin-bottom: 30px;

    &__male,
    &__female {
        border-radius: 10px;

        cursor: pointer;

        position: relative;
        overflow: hidden;

        height: 800px;
        width: 600px;

        & img {
            pointer-events: none;

            transition: all 0.1s linear; 

            height: 100%;
            width: 100%;
        }

        &-title {
            color: #FFFFFF;
            font-size: 30px;
            font-weight: 700;

            position: absolute;

            z-index: 2;
        } 
    }

    &__male {
        margin-right: 40px;

        &-title {
            left: 30px;
            bottom: 50px;
        }
    }

    &__female-title {
        right: 30px;
        top: 50px;
    }
}

@media(hover: hover) {
    .goods__title-right:hover {
        transform: translateX(-20px);

        & svg {
            visibility: visible;
            opacity: 1;
            transform: translateX(10px);
        }
    }

    .gender__male:hover,
    .gender__female:hover {
        & img {
            transform: scale(1.1);
        }
    }
}

@media(max-width: 1300px) {
    .gender__male,
    .gender__female {
        border-radius: 0px;

        height: auto;
        width: 49%;
    }

    .gender__male {
        margin-right: 5px;
    }
}

@media(max-width: 1100px) {
    .goods {
        padding: 0px 20px;
    }
}

@media(max-width: 767px) {
    .goods {
        padding: 0px 15px;

        &__title {
            margin-bottom: 30px;
    
            &-left {
                font-size: 22px;
            }
    
            &-right {
                font-size: 20px;
            }
        }
    }

    .gender--mobile,
    .goods--mobile {
        margin-bottom: 100px;
    }
}

@media(max-width: 630px) {
    .goods__title {
        align-items: center;
        flex-direction: column;

        margin-bottom: 20px;
        padding: 0px;

        &-left {
            text-align: center;

            margin-bottom: 10px;
        }
    }
}

@media(max-width: 600px) {
    .gender__male-title {
        bottom: 15px;
        left: 15px;

        font-size: 20px;
    }

    .gender__female-title {
        top: 15px;
        right: 15px;
        
        font-size: 20px;
    }
}

@media(max-width: 500px) {
    .goods {
        padding: 0px 10px;

        &__title-left {
            font-size: 18px;

            margin: 0px 0px 5px;
        }

        &__title-right {
            font-size: 16px;
        }
    }
}

@media(max-width: 420px) {
    .gender--mobile,
    .goods--mobile {
        margin-bottom: 80px;
    }
}

@media(max-width: 400px) {
    .gender__male,
    .gender__female {
        border-radius: 5px;

        &-title {
            font-size: 18px;
        }
    }
}

@media(max-width: 330px) {
    .goods__empty-title {
        font-size: 18px;
    }
}
