.goods {
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 0px 60px;

    max-width: 1600px;
    width: 100%;

    &__title {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        margin-bottom: 50px;
        padding-right: 40px;

        width: 100%;

        &-left {
            font-size: 28px;
            font-weight: 700;
        }

        &-right {
            color: #E47F46;
            font-size: 24px;
            font-weight: 500;

            cursor: pointer;

            text-decoration: underline;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        max-width: 1600px;
        width: 100%;
    }
}

.gender {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;

    margin-top: 10px;
    margin-bottom: 30px;

    &__male,
    &__female {
        cursor: pointer;

        position: relative;

        height: 750px;
        width: 500px;

        & img {
            border-radius: 10px;

            height: 100%;
            width: 100%;
        }

        &-title {
            color: #FFFFFF;
            font-size: 30px;
            font-weight: 700;

            position: absolute;

            z-index: 2;
        } 
    }

    &__male {
        margin-right: 40px;

        &-title {
            left: 30px;
            bottom: 50px;
        }
    }

    &__female-title {
        right: 30px;
        top: 50px;
    }
}

@media(max-width: 1600px) {
    .goods__title {
        max-width: 1280px;
    }
    .goods__content {
        max-width: 1280px;
    }
}

@media(max-width: 1320px) {
    .goods__title {
        max-width: 930px;
        padding-right: 30px;
    }
    .goods__content {
        max-width: 930px;
    }
}

@media(max-width: 1100px) {
    .goods {
        padding: 0px 20px;
    }

    .gender__male,
    .gender__female {
        height: 600px;
        width: 400px;
    }

    .gender__male {
        margin-right: 20px;
    }
}

@media(max-width: 970px) {
    .goods__title {
        max-width: 870px;
        padding-right: 10px;
    }
    .goods__content {
        max-width: 870px;
    }
}

@media(max-width: 910px) {
    .goods__title {
        max-width: 660px;
        padding-right: 25px;
    }
    .goods__content {
        max-width: 660px;
    }
}

@media(max-width: 850px) {
    .gender__male,
    .gender__female {
        height: 450px;
        width: 300px;
    }

    .gender__male {
        margin-right: 10px;
    }
}

@media(max-width: 767px) {
    .goods__title {
        margin-bottom: 20px;
        margin-top: 10px;

        &-left {
            font-size: 26px; 
        }

        &-right {
            font-size: 16px;
        }
    }

    .goods {
        margin-bottom: 100px;

        &--no-margin {
            margin-bottom: 0px;
        }
    }

    .gender {
        margin-bottom: 100px;
    }
}

@media(max-width: 700px) {
    .goods__title {
        max-width: 580px;
        padding-right: 5px;
    }
    .goods__content {
        max-width: 580px;
    }
}

@media(max-width: 620px) {
    .goods__title {
        max-width: 465px;

        &-left {
            font-size: 18px;
        }
    
        &-right {
            font-size: 16px;
        }
    }

    .goods__content {
        max-width: 465px;
    }

    .gender__male,
    .gender__female {
        height: 400px;
        width: 250px;
    }

    .gender__male-title {
        bottom: 15px;
        left: 15px;

        font-size: 20px;
    }

    .gender__female-title {
        top: 15px;
        right: 15px;
        
        font-size: 20px;
    }
}

@media(max-width: 530px) {
    .gender__male,
    .gender__female {
        height: 240px;
        width: 180px;
    }
}

@media(max-width: 505px) {
    .goods__content {
        max-width: 330px;
    }
}

@media(max-width: 420px) {
    .goods {
        margin-bottom: 80px;

        &--no-margin {
            margin-bottom: 0px;
        }
    }

    .gender {
        margin-bottom: 80px;
    }
}

@media(max-width: 400px) {
    .goods {
        padding: 0px 10px;

        &__title-left {
            font-size: 14px;
        }
    
        &__title-right {
            font-size: 12px;
        }
    }

    .gender__male,
    .gender__female {
        height: auto;
        width: 48%;

        &-title {
            font-size: 18px;
        }

        & img {
            border-radius: 5px;
        }
    }

    .gender__male {
        margin-right: 5px;
    }
}

@media(max-width: 350px) {
    .goods__content {
        max-width: 310px;
    }
}

@media(max-width: 330px) {
    .goods__title {
        align-items: center;
        flex-direction: column;

        &-left {
            margin-bottom: 5px;
        }
    }

    .goods__content {
        justify-content: center;
        
        max-width: 100%;
    }

    .goods__empty-title {
        font-size: 18px;
    }
}
