.goods {
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 0px 60px;

    max-width: 1600px;
    width: 100%;

    &__title {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 50px;
        padding: 0px 60px;

        width: 100%;

        &-left {
            font-size: 28px;
            font-weight: 600;
        }

        &-right {
            color: #E47F46;
            font-size: 24px;
            font-weight: 600;

            cursor: pointer;

            transition: all 0.1s linear;

            & svg {
                visibility: hidden;
                opacity: 0;
                transition: all 0.1s linear; 
            }

            & span {
                position: relative;

                &::after {
                    background: #F47E46;
    
                    content: '';
    
                    position: absolute;
                    bottom: -2px;
                    left: 0px;
                    
                    transition: all 0.1s linear;
                    height: 2px;
                    width: 0px;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
    }
}

.gender {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;

    margin-top: 10px;
    margin-bottom: 20px;

    &__male,
    &__female {
        border-radius: 10px;

        cursor: pointer;

        position: relative;
        overflow: hidden;

        height: 800px;
        width: 600px;

        &-image {
            pointer-events: none;

            transition: all 0.1s linear; 

            height: 100%;
            width: 100%;
        }

        &-title {
            align-items: center;
            display: flex;

            color: #FFFFFF;
            font-size: 30px;
            font-weight: 600;

            position: absolute;

            z-index: 2;

            & svg {
                transition: all 0.1s linear;
                height: 8px;
                width: 100px;

                &:first-child {
                    margin-right: 15px;
                }

                &:last-child {
                    margin-left: 15px;
                }
            }
        } 
    }

    &__male {
        margin-right: 40px;

        &-title {
            left: 30px;
            bottom: 50px;
        }
    }

    &__female-title {
        right: 30px;
        top: 50px;
    }
}

.download {
    background: #E47F46;
    
    display: none;

    flex-direction: column;

    margin: 30px 0px 80px;

    padding: 20px;

    position: relative;

    height: 200px;
    width: 100%;

    &__title {
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 700;

        flex: 0 0 auto;

        margin-bottom: 30px;
    }

    &__text {
        color: #FFFFFF;
        font-weight: 600;

        flex: 0 0 auto;

        margin-bottom: 10px;

        &:last-child {
            flex: 1 0 auto;
        }
    }

    &__click {
        align-items: center;
        display: flex;

        position: absolute;
        bottom: 20px;
        right: 180px;

        &-text {
            color: #FFFFFF;
            line-height: 16px;

            margin-right: 10px;
        }
    }

    &__wrapper {
        overflow: hidden;

        position: absolute;
        right: 20px;
        top: -20%;

        height: 305px;
        width: 150px;

        &-image {
            position: absolute;
            right: 0px;
            top: 0px;

            height: 100%;
            width: 100%;
        }
    }
}

@media(hover: hover) {
    .goods__title-right:hover {
        transform: translateX(-20px);

        & svg {
            visibility: visible;
            opacity: 1;
            transform: translateX(10px);
        }

        & span::after {
            width: 100%;
        }
    }

    .gender__male:hover .gender__male-image,
    .gender__female:hover .gender__female-image {
        transform: scale(1.1);
    }

    .gender__male:hover .gender__male-title svg,
    .gender__female:hover .gender__female-title svg {
        height: 15px;
        width: 300px;
    }
}

@media(max-width: 1300px) {
    .gender__male,
    .gender__female {
        border-radius: 0px;

        height: auto;
        width: 49%;
    }

    .gender__male:hover .gender__male-title svg,
    .gender__female:hover .gender__female-title svg {
        width: 200px;
    }

    .gender__male {
        margin-right: 5px;
    }
}

@media(max-width: 1100px) {
    .goods {
        padding: 0px 20px;
    }
}

@media(max-width: 830px) {
    .gender__male-title img,
    .gender__female-title img {
        display: none;
    }
}

@media(max-width: 767px) {
    .goods {
        padding: 0px 15px;

        &__title {
            margin-bottom: 30px;
    
            &-left {
                font-size: 22px;
            }
    
            &-right {
                font-size: 20px;
            }
        }
    }

    .download {
        display: flex;
    }

    .download--mobile,
    .goods--mobile {
        margin-bottom: 100px;
    }

    .gender__male-title svg,
    .gender__female-title svg {
        display: none;
    }
}

@media(max-width: 630px) {
    .goods__title {
        align-items: center;
        flex-direction: column;

        margin-bottom: 20px;
        padding: 0px;

        &-left {
            text-align: center;

            margin-bottom: 10px;
        }
    }
}

@media(max-width: 600px) {
    .gender__male-title {
        bottom: 15px;
        left: 15px;

        font-size: 20px;
    }

    .gender__female-title {
        top: 15px;
        right: 15px;
        
        font-size: 20px;
    }
}

@media(max-width: 550px) {
    .download {
        padding: 10px;

        &__title {
            font-size: 16px;

            margin-bottom: 20px;

            max-width: 300px;
        }

        &__text {
            font-weight: 400;
            line-height: 16px;

            max-width: 300px;
        }

        &__click {
            right: 170px;
            bottom: 10px;
        }

        &__wrapper {
            right: 10px;
        }
    }
}

@media(max-width: 500px) {
    .goods {
        padding: 0px 10px;

        &__title-left {
            font-size: 18px;

            margin: 0px 0px 5px;
        }

        &__title-right {
            font-size: 16px;
        }
    }
}

@media(max-width: 480px) {
    .download__title,
    .download__text {
        max-width: 250px;
    }
}

@media(max-width: 450px) {
    .download__click-text {
        max-width: 110px;

        margin-right: 5px;
    }
}

@media(max-width: 420px) {
    .download--mobile,
    .goods--mobile {
        margin-bottom: 80px;
    }
}

@media(max-width: 400px) {
    .gender__male,
    .gender__female {
        border-radius: 5px;

        &-title {
            font-size: 18px;
        }
    }
}

@media(max-width: 380px) {
    .download__wrapper {
        right: 0px;

        &-image {
            right: -50px;
        }
    }

    .download__click {
        right: 110px;
    }
}

@media(max-width: 330px) {
    .goods__empty-title {
        font-size: 18px;
    }
}
