.user-data__top {
    display: flex;
    flex-direction: column;

    &-title {
        font-size: 18px;
        margin-bottom: 15px;

        &--main {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
}

.user-data__btns {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;

    &-save {
        background: #E47F46;
        border: 2px solid transparent;
        border-radius: 20px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.1s linear;
        height: 40px;
        width: 200px;
    }

    &-exit {
        background: #1F1F21;
        border-radius: 20px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.1s linear;
        height: 40px;
        width: 140px;
    }
}

.input-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 40px;

    &__item {
        margin-right: 30px;
        position: relative;

        &:last-child {
            margin-right: 0px;
        }

        &-input {
            background: transparent;
            border: 1px solid #E5E3E0;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 500;
            padding-left: 10px;
            transition: all 0.1s linear;
            height: 35px;
            width: 250px;

            &::placeholder {
                font-size: 0px;
            }
    
            &:focus {
                box-shadow: 0px 5px 15px 0px rgba(228, 127, 70, 0.35);
                border: 1px solid #E47F46;
    
                & + .input-wrapper__input-label {
                    font-size: 12px;
                    top: -2px;
                }
            }
        }

        &-label {
            background: #F7F7F7;
            color: #828282;
            padding: 1px;
            position: absolute;
            left: 12px;
            top: 50%;
            text-align: center;
            transition: all 0.1s linear;
            transform: translateY(-50%);

            &.active {
                font-size: 12px;
                top: -2px;
            }
        }
    }
}

.user-gender {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    &__wrapper {
        align-items: center;
        display: flex;
        position: relative;
        margin-bottom: 15px;

        &-input {
            appearance: none;
            -webkit-appearance: none;
            background: transparent;
            border: 1px solid #1F1F21;
            border-radius: 100px;
            cursor: pointer;
            position: relative;
            transition: all 0.1s linear;
            height: 20px;
            width: 20px;
    
            &::before {
                border-radius: 100px;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.1s linear;
                height: 12px;
                width: 12px;
            }
    
            &:checked::before {
                background: #1F1F21;
            }
        }
    
        &-label {
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            margin-left: 10px;
        }
    }
}

.user-email {
    align-items: center;
    display: flex;
    margin-bottom: 60px;

    &__text {
        font-size: 18px;
        font-weight: 500;
        margin: 0px 10px;
    }

    &__confirming {
        color: #0FA958;
        margin-left: 5px;
    }
}


@media(hover: hover) {
    .input-wrapper__item-input:hover {
        border: 1px solid #898989;

        & + .input-wrapper__item-label {
            color: #898989;
        }

        &:focus {
            box-shadow: 0px 5px 15px 0px rgba(228, 127, 70, 0.35);
            border: 1px solid #E47F46;

            & + .input-wrapper__item-label {
                color: #828282;
                font-size: 12px;
                top: -2px;
            }
        }
    }

    .user-gender__wrapper-input:hover {
        border-color: lighten(#1F1F21, 20%);
    }

    .user-gender__wrapper-input:checked:hover::before {
        background: lighten(#1F1F21, 20%);
    }

    .user-data__btns-save:hover {
        background: transparent;
        border: 2px solid #E47F46;
        color: #E47F46;
        transform: scale(1.02);
    }

    .user-data__btns-exit:hover {
        background: #FF1300;
        transform: scale(1.02);
    }
}