.extra-goods {
    flex: 0 0 440px;
    padding: 0px 30px;

    overflow: hidden;

    margin-bottom: 20px;
    
    max-width: 1280px;
    height: 440px;
    width: 100%;

    &__title {
        font-size: 24px;
        font-weight: 700;

        margin-bottom: 20px;
    }
    
    &__slider {
        position: relative;

        height: 100%;
        width: 100%;

        & .slick-arrow {
            border-radius: 100px;

            height: 40px;
            width: 40px;
        
            &.slick-prev {
                background: url("../../assets/images/icons/slider-prev-arrow.svg") center center no-repeat, #FFFFFF;
                background-size: 30px 30px;
        
                left: 20px;
            }
        
            &.slick-next {
                background: url("../../assets/images/icons/slider-next-arrow.svg") center center no-repeat, #FFFFFF;
                background-size: 30px 30px;
        
                right: 30px;
            }
        }
    }

    & .goods-item:hover {
        box-shadow: none !important;
        transform: none !important;
    }
}

.slick-arrow {
    font-size: 0px;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;

    z-index: 2;
}

@media(hover: hover) {
    .slick-arrow:hover {
        opacity: 1;
    }
}

@media(max-width: 1280px) {
    .extra-goods {
        padding-right: 0px;

        max-width: 100%;
    }
}

@media(max-width: 1000px) {
    .extra-goods {
        padding-left: 20px;
    }
}

@media(max-width: 910px) {
    .extra-goods div {
        margin-left: 0px !important;
        margin-right: 20px;
    }

    .extra-goods__slider .slick-slide {
        display: flex;
        justify-content: center;
    }

    .slick-arrow.slick-next {
        right: 10px;
    }
}

@media(max-width: 850px) {
    .extra-goods div {
        margin-left: 0px !important;
        margin-right: 0px;
    }
}

@media(max-width: 767px) {
    .extra-goods {
        padding-left: 5px;
        padding-right: 5px;

        margin-bottom: 120px;

        &__title {
            padding-left: 15px;
        }
    }
}

@media(max-width: 620px) {
    .extra-goods {
        flex: 0 0 240px;

        height: 240px;
    }
}

@media(max-width: 500px) {
    .extra-goods {
        margin-bottom: 70px;

        &__title {
            font-size: 14px;

            margin-bottom: 10px;
        }
    }

    .slick-arrow {
        height: 30px;
        width: 30px;

        &.slick-prev {
            left: 5px;
        }

        &.slick-next {
            right: 5px;
        }
    }
}

@media(max-width: 400px) {
    .extra-goods__title {
        padding-left: 5px;
    }
}
