.extra-goods {
    flex: 0 0 470px;
    padding: 0px 30px;

    overflow: hidden;

    margin-bottom: 20px;
    
    max-width: 1280px;
    height: 470px;
    width: 100%;

    &__title {
        font-size: 24px;
        font-weight: 700;

        margin-bottom: 20px;
    }
    
    &__slider {
        display: flex;

        overflow-x: overlay;
        position: relative;
        
        padding: 10px;

        width: 100%;
    }

    & .goods-item {
        margin-right: 20px;
    }
}

@media(hover: hover) {
    .slick-arrow:hover {
        opacity: 1;
    }

    .extra-goods .goods-item:hover {
        box-shadow: none !important;
    }
}

@media(max-width: 1280px) {
    .extra-goods {
        padding-right: 0px;

        max-width: 100%;
    }
}

@media(max-width: 1000px) {
    .extra-goods {
        padding-left: 20px;
    }
}

@media(max-width: 910px) {
    .extra-goods div {
        margin-left: 0px !important;
        margin-right: 20px;
    }

    .extra-goods__slider .slick-slide {
        display: flex;
        justify-content: center;
    }

    .slick-arrow.slick-next {
        right: 10px;
    }
}

@media(max-width: 850px) {
    .extra-goods div {
        margin-left: 0px !important;
        margin-right: 0px;
    }
}

@media(max-width: 767px) {
    .extra-goods {
        padding-left: 5px;
        padding-right: 5px;

        margin-bottom: 120px;

        &__title {
            padding-left: 15px;
        }
    }
}

@media(max-width: 620px) {
    .extra-goods {
        flex: 0 0 250px;

        height: 250px;
    }
}

@media(max-width: 500px) {
    .extra-goods {
        margin-bottom: 70px;

        &__title {
            font-size: 14px;

            margin-bottom: 10px;
        }
    }

    .slick-arrow {
        height: 30px;
        width: 30px;

        &.slick-prev {
            left: 5px;
        }

        &.slick-next {
            right: 5px;
        }
    }
}

@media(max-width: 400px) {
    .extra-goods__title {
        padding-left: 5px;
    }
}
