.auth-popup__forget {
    color: #E47F46;
    cursor: pointer;
    margin: 20px 0px 50px;
    text-align: center;
    transition: all 0.1s linear;

    &:active {
        transform: scale(0.95);
    }
}


@media(hover: hover) {
    .auth-popup__forget:hover {
        text-decoration: underline;
    }
}