.product {
    display: flex;
    flex-direction: column;
    padding: 30px 60px 0px;
    position: relative;
    max-width: 1440px;
    width: 100%;

    &__top {
        display: flex;
        margin-bottom: 50px;
        width: 100%;
    }

    &__title {
        align-self: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 30px;
    }

    &-left {
        flex: 0 0 auto;
        position: relative;
        margin-right: 70px;
        max-width: 500px;
        width: 100%;
    
        &__image {
            margin-bottom: 15px;
            cursor: pointer;
            max-height: 500px;
            max-width: 500px;
            height: 100%;
            width: 100%;
        }
    
        &__back {
            align-items: center;
            display: flex;
            cursor: pointer;
            position: absolute;
            top: 25px;
            left: 15px;
            z-index: 2;

            &-text {
                color: #E47F46;
                font-size: 16px;
                margin-left: 5px;
            }
        }

        &__heart {
            background: #1F1F21;
            border-radius: 100px;
            cursor: pointer;
            align-items: center;
            display: flex;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 15px;
            height: 40px;
            width: 40px;
            z-index: 2;
    
            &-icon path {
                transition: all 0.1s linear;    
            }
    
            &-icon.liked path {
                fill: #FF2D55;
                stroke: #FF2D55;
            } 
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
    
        &__title {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
    
            &-text {
                font-size: 24px;
                font-weight: 700;
                margin-right: 20px;
            }
    
            &-icon {
                flex: 0 0 auto;
                height: 30px;
                width: 30px;
            }
        }
    
        &__subtitle {
            align-items: flex-end;
            display: flex;
            margin-bottom: 50px;
    
            &-text {
                font-size: 20px;
                font-weight: 500;
                text-transform: capitalize;
            }
    
            &-image {
                cursor: pointer;
                margin: 0px 10px;
                max-height: 50px;
                max-width: 50px;
                transition: all 0.1s linear;
                height: auto;
                width: 100%;
            }
        }
    
        &__article {
            color: #828282;
            font-size: 16px;
            margin-bottom: 15px;
        }
    
        &__color {
            font-size: 16px;
            margin-bottom: 60px;
        }
    
        &__text {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;
            transition: all 0.1s linear;

            &.active {
                color: #EC3030;
            }
        }
    
        &__warning {
            align-items: flex-start;
            display: flex;
            flex: 1 0 auto;
    
            &-icon {
                height: 12px;
                width: 12px;
            }
    
            &-text {
                color: #ED0A34;
                font-size: 12px;
                margin-left: 10px;
            }
        }
    
        &__price {
            background: #1F1F21;
            border-radius: 30px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            padding-left: 20px;
            padding-right: 4px;
            max-width: 585px;
            height: 60px;
            width: 100%;
    
            &-text {
                color: #FFFFFF;
                font-size: 20px;
                font-weight: 700;
            }
        
            &-btn {
                background: #E47F46;
                border-radius: 30px;
                color: #FFFFFF;
                font-size: 20px;
                font-weight: 500;
                transition: all 0.1s linear;
                text-transform: uppercase;
                height: 52px;
                width: 200px;

                &:disabled {
                    background: #828282;
                    pointer-events: none;
                }
            }
        }

        &__mobile-text,
        &__mobile-btn {
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 30px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            position: fixed;
            bottom: 90px;
            height: 40px;
            width: calc(50% - 40px);
            z-index: 2;
        }

        &__mobile-text {
            background: #1F1F21;
            left: 10px;
        }

        &__mobile-btn {
            background: #E47F46;
            right: 10px;
        }
    
        &__nav {
            align-items: center;
            display: flex;
            justify-content: space-between;
            max-width: 565px;
            width: 100%;
    
            &-text {
                color: #828282;
                cursor: pointer;
                margin-right: 5px;
                text-align: center;
    
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    &-sizes {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        max-width: 585px;
        width: 100%;
    
        &__size {
            background: #E5E3E0;
            border-radius: 10px;
            color: #1F1F21;
            cursor: pointer;
            font-size: 16px;
            position: relative;
            margin-right: 15px;
            margin-bottom: 15px;
            transition: all 0.1s linear;
            height: 40px;
            width: 60px;

            &.active {
                background: #E47F46;
                color: #FFFFFF;
            }
    
            &-icon {
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
    }

    &-zoom {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
    
        &__icon {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 20px;
            height: 30px;
            width: 30px;
        }
    
        &__wrapper-image {
            cursor: zoom-in;
            margin-bottom: 10px;
            transition: all 0.1s linear;
            height: 90%;
    
            &.zoom {
                cursor: zoom-out;
                transform: scale(1.2);
            }
        }
    
        &__title {
            color: #FFFFFF;
            font-size: 16px;
            text-align: center;
        }
    }
}

.images-slider {
    position: relative;
    width: 100%;

    & .slick-arrow {
        border-radius: 100px;
        box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
        font-size: 0px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transition: all 0.1s linear;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        z-index: 1;

        &.slick-prev {
            background: #1F1F21 url('../../assets/images/icons/slider-prev-arrow.svg') center center no-repeat;
            left: 0px;
        }

        &.slick-next {
            background: #1F1F21 url('../../assets/images/icons/slider-next-arrow.svg') center center no-repeat;
            right: 0px;
        }
    }

    & .slick-slide {
        margin-right: 15px;
        width: 130px;
    }

    &__item {
        cursor: pointer;
        height: 130px;
        width: 130px;

        &-image {
            opacity: 0.6;
            object-fit: cover;
            transition: all 0.1s linear;
            height: 100%;
            width: 100%;
        }
    }
}

.images-scroll {
    align-items: center;
    display: flex;
    overflow: auto;
    width: 100%;

    & div {
        margin-right: 15px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.success-popup {
    background: #F7F7F7;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transition: all 0.1s linear;
    transform: translate(-50%, -50%) scale(0);
    width: 700px;
    z-index: 4;

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }

    &__text {
        color: #FFFFFF;
        font-weight: 500;
        text-align: center;
    }

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        &-title {
            font-size: 18px;
            font-weight: 700;
        }

        &-icon {
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
        margin-bottom: 15px;

        &-image {
            margin-right: 15px;
            height: 150px;
            width: 150px;
        }

        &-amount {
            flex: 1 0 auto;
            font-size: 16px;
            margin-right: 10px;
        }

        &-price {
            font-size: 18px;
            font-weight: 700;
        }
    }

    &__btns {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        &-continue {
            background: transparent;
            border: 1px solid #828282;
            border-radius: 15px;
            color: #828282;
            margin-right: 30px;
            transition: all 0.1s linear;
            text-transform: uppercase;
            height: 40px;
            width: 200px;
        }

        &-cart {
            background: #E47F46;
            border: 1px solid transparent;
            border-radius: 30px;
            color: #FFFFFF;
            transition: all 0.1s linear;
            text-transform: uppercase;
            height: 40px;
            width: 130px;
        }
    }
}

.content-text {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 330px;

    &__name {
        font-size: 16px;
        margin-bottom: 15px;
    }

    &__size {
        font-size: 16px;
    }
}


@media(hover: hover) {
    .images-slider__item:hover .images-slider__item-image {
        opacity: 1;
    }

    .images-slider:hover .slick-arrow {
        pointer-events: auto;
        opacity: 1;
    }

    .product-right__subtitle-image:hover {
        transform: scale(1.1);
    }

    .product-right__nav-text:hover {
        text-decoration: underline;
    }

    .product-right__price-btn:hover {
        background: transparent;
        color: #E47F46;
        width: 220px;
    }

    .product-right__price-btn:active {
        background: darken(#E47F46, 20%);
        color: #FFFFFF;
    }

    .product-sizes__size:hover {
        background: darken(#E5E3E0, 20%);
        color: #FFFFFF;

        &.active {
            background: #E47F46;
        }
    }

    .success-popup__btns-continue:hover {
        border: 1px solid #1F1F21;
        color: #1F1F21;
        width: 230px;
    }

    .success-popup__btns-continue:active {
        background: darken(#F7F7F7, 10%);
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }

    .success-popup__btns-cart:hover {
        background: lighten(#E47F46, 15%);
        width: 150px;
    }

    .success-popup__btns-cart:active {
        background: darken(#E47F46, 15%);
    }
}

@media(max-width: 1024px) {
    .product {
        padding: 0px;

        &__top {
            flex-direction: column;
            margin-bottom: 20px;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 15px;
        }

        &__description {
            font-size: 14px;
            padding: 0px 30px;
            margin-bottom: 20px;
        }

        &-left {
            margin-right: 0px;
            max-width: 100%;

            &__image {
                max-height: 100%;
                height: auto;
                max-width: 100%;
            }

            &__heart {
                top: 30px;
                right: 30px;

                & svg {
                    height: 50%;
                    width: 50%;
                }
            }

            &__back {
                left: 30px;
                top: 30px;
            }
        }

        &-right {
            padding: 0px 30px;

            &__title-text {
                font-size: 20px;
            }

            &__subtitle {
                margin-bottom: 30px;
    
                &-text {
                    font-size: 18px;
                }
    
                &-image {
                    max-height: 30px;
                    max-width: 30px;
                }
            }

            &__article {
                font-size: 14px;
                margin-bottom: 10px;
            }

            &__color {
                font-size: 14px;
                margin-bottom: 30px;
            }

            &__warning {
                flex: 0 0 auto;
                margin-bottom: 30px;
            }

            &__price {
                padding-left: 15px;
                padding-right: 4px;
                max-width: 400px;
                height: 40px;

                &-text {
                    font-size: 18px;
                }

                &-btn {
                    font-size: 18px;
                    height: 32px;
                    width: 150px;
                }
            }

            &__nav {
                justify-content: flex-start;
                max-width: 100%;

                &-text {
                    margin-right: 30px;
                }
            }
        }

        &-sizes {
            max-width: 100%;
            margin-bottom: 0px;

            &__size {
                font-size: 14px;
            }
        }

        &-zoom__wrapper {
            height: auto;
            width: 80%;

            &-image {
                height: 100%;
                width: 100%;
            }
        }

        &-zoom__icon {
            top: 30px;
            right: 30px;
        }

        &-zoom__title {
            font-size: 14px;
        }
    }

    .images-slider,
    .images-scroll {
        align-items: center;
        display: flex;
        flex: 0 0 160px;
        padding: 0px 0px 10px;
        margin-bottom: 20px;
        overflow: auto;

        &__item {
            flex: 0 0 auto;
            margin-right: 30px;
            height: 150px;
            width: 150px;

            &:last-child {
                margin-right: 0px;
            }

            &-image {
                opacity: 1;
            }
        }
    }

    .success-popup {
        background: #E47F46;
        border-radius: 15px;
        width: auto;

        &__text {
            width: 200px;
        }
    }
}

@media(max-width: 500px) {
    .product__top {
        margin-bottom: 0px;
    }

    .product__title {
        font-size: 14px;
        padding: 0px 20px;
        margin-bottom: 10px;
    }

    .product__description {
        padding: 0px 20px;
        margin-bottom: 15px;
    }

    .product-left__back {
        left: 20px;
        top: 20px;
    }

    .product-left__heart {
        top: 15px;
        right: 20px;
        height: 30px;
        width: 30px;
    }

    .product-right {
        padding: 0px 20px;

        &__title {
            margin-bottom: 10px;

            &-text {
                font-size: 16px;
            }

            &-icon {
                height: 25px;
                width: 25px;
            }
        }

        &__subtitle {
            margin-bottom: 20px;

            &-text {
                font-size: 14px;
            }

            &-image {
                margin: 0px 5px;
                max-height: 25px;
                max-width: 25px;
            }
        }

        &__article {
            margin-bottom: 10px;
        }

        &__color {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 10px;
        }

        &__warning {
            margin-bottom: 15px;
        }

        &__price {
            padding-left: 20px;
            margin-bottom: 15px;
            max-width: 250px;

            &-text {
                font-size: 16px;
            }

            &-btn {
                font-size: 14px;
                width: 115px;
            }
        }

        &__nav {
            display: none;
        }
    }

    .product-sizes__size {
        padding-top: 2px;
        height: 40px;
        width: 50px;
    }

    .images-slider,
    .images-scroll {
        flex: 0 0 100px;
        margin-bottom: 10px;

        &__item {
            margin-right: 15px;
            height: 100px;
            width: 100px;
        }
    }
}
