.content__reset {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    padding: 0px 60px;
    height: 100%;
    width: 100%;

    &-title {
        font-size: 20px;
        font-weight: 700;
        margin: 40px 0px;
        text-align: center;
    }

    &-error {
        color: #ED0A34;
        margin-bottom: 15px;
        text-align: center;
    }
}

.reset-form {
    margin-bottom: 50px;
    max-width: 400px;
    width: 100%;

    &__wrapper {
        margin-bottom: 20px;
        position: relative;
        height: 40px;
        width: 100%;

        &-label {
            background: #F7F7F7;
            color: #828282;
            padding: 1px;
            position: absolute;
            left: 10px;
            top: 50%;
            text-align: center;
            transition: all 0.1s linear;
            transform: translateY(-50%);
    
            &--error {
                color: #ED0A34;
            }
    
            &--error, &--active {
                font-size: 12px;
                top: -2px;
            }
        }
    
        &-input {
            background: #F7F7F7;
            border: 1px solid #CFCCC7;
            border-radius: 10px;
            font-size: 16px;
            padding: 10px;
            transition: all 0.1s linear;
            height: 100%;
            width: 100%;
    
            &::placeholder {
                font-size: 0px;
            }
    
            &:focus {
                box-shadow: 0px 5px 15px 0px rgba(228, 127, 70, 0.35);
                border: 1px solid #E47F46;
    
                & + .reset-form__wrapper-label {
                    font-size: 12px;
                    top: -2px;
                }
            }
        }
    
        &-icon {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__btn {
        background: #E47F46;
        border: 2px solid transparent;
        border-radius: 30px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.1s linear;
        text-transform: uppercase;
        height: 40px;
        width: 100%;
    }
}


@media(hover: hover) {
    .reset-form__wrapper-input:hover {
        border: 1px solid #898989;

        & + .reset-form__wrapper-label {
            color: #898989;

            &--error {
                color: #ED0A34;
            }
        }

        &:focus {
            box-shadow: 0px 5px 15px 0px rgba(228, 127, 70, 0.35);
            border: 1px solid #E47F46;

            & + .reset-form__wrapper-label {
                color: #828282;

                &--error {
                    color: #ED0A34;
                }
            }
        }
    }

    .reset-form__btn:hover {
        background: transparent;
        border: 2px solid #E47F46;
        color: #E47F46;
    }

    .reset-form__btn:active {
        background: transparent;
        border: 2px solid darken(#E47F46, 10%);
        color: darken(#E47F46, 10%);
    }
}


@media(max-width: 1024px) {
    .content__reset {
        padding: 0px 30px;

        &-title {
            font-size: 16px;
        }
    }
}