.footer {
    background: #212121;

    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    width: 100%;

    &__wrapper {
        padding: 50px 100px 30px;
        position: relative;

        max-width: 1600px;
        height: 100%;
        width: 100%;
    }

    &__top,
    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__top {
        margin-bottom: 20px;
    }

    &__bottom {
        align-items: center;

        &-left {
            color: #FFFFFF;

            text-transform: uppercase;
        }

        &-right {
            cursor: pointer;

            display: flex;

            & img {
                margin-left: 12px;

                height: 30px;
                width: 30px;
            }
        }
    }

    &__mobile {
        align-items: center;
        display: flex;
        justify-content: space-between;

        width: 100%;

        &-el {
            display: flex;
            justify-content: space-between;

            width: 170px;

            & svg path {
                transition: fill 0.1s ease-in-out;
            }

            & svg.active path {
                fill: #FFFFFF;
            }
        }

        &-home {
            position: absolute;

            top: -45px;
            left: 50%;

            transform: translate(-50%);
        }
    }
}

.footer-block {
    color: #FFFFFF;

    text-transform: capitalize;

    &:last-child {
        text-transform: none;
    }

    &--last {
        text-align: center;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;

        margin-bottom: 5px;
    }

    &__list {
        display: flex;
        flex-direction: column;

        &-el {
            cursor: pointer;

            line-height: 30px;
        }
    }

    &__text {
        line-height: 30px;

        margin-top: 5px;
        margin-bottom: 20px;
    }

    &__btn {
        border-radius: 50px;
        
        height: 40px;
        width: 220px;
    }
}

.home-icon,
.home-icon__circle {
    align-items: center;
    display: flex;
    justify-content: center;
}

.home-icon__circle {
    background: #E47F46;
    border-radius: 100px;

    position: relative;

    height: 84px;
    width: 84px;

    & svg {
        transition: transform 0.1s ease-in-out;

        & path {
            transition: fill 0.1s ease-in-out;
        }
    }
}

@media(hover: hover) {
    .footer-block__list-el:hover {
        text-decoration: underline;
    }
}

@media(max-width: 1100px) {
    .footer__wrapper {
        padding: 50px 80px 30px;
    }
}

@media(max-width: 900px) {
    .footer__wrapper {
        padding: 50px 50px 30px;
    }
}

@media(max-width: 767px) {
    .footer__wrapper {
        padding: 30px;

        &--mobile {
            padding: 20px 80px;
        }
    }

    .footer-block__list, 
    .footer-block__title {
        text-align: center;
    }

    .footer-block:last-child {
        display: none;
    }

    .footer--mobile {
        background: url("../../assets/images/content-images/footer.png") center 0 no-repeat;
        background-size: cover;

        position: fixed;
        bottom: 0px;

        z-index: 2;
    }
}

@media(max-width: 650px) {
    .home-icon {
        top: -50%;

        &__circle {
            height: 74px;
            width: 74px;
        }
    }
}

@media(max-width: 630px) {
    .footer__wrapper--mobile {
        padding: 20px 40px;
    }

    .footer__mobile-el {
        width: 140px;
    }
}

@media(max-width: 500px) {
    .footer__wrapper {
        padding: 15px 20px;
    }

    .footer__mobile-el {
        width: 130px;
    }

    .home-icon__circle {
        height: 64px;
        width: 64px;
    }
}

@media(max-width: 420px) {
    .footer__mobile-el {
        width: 35%;

        & svg {
            height: 30px;
            width: 30px;
        }
    }

    .home-icon {
        top: -30px;

        height: 60px;
        width: 60px;

        &__circle {
            height: 56px;
            width: 56px;
        }

        & svg {
            height: 30px;
            width: 30px;
        }
    }
}

@media(max-width: 400px) {
    .footer-block__list {
        display: none;
    }
}

@media(max-width: 320px) {
    .footer__mobile-el {
        width: 85px;
    }
}
