.footer {
    background: #212121;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;

    &--mobile {
        background: #F3F3F3;
        position: relative;
        height: 90px;
        z-index: 2;
    }

    &__wrapper {
        padding: 50px 60px 40px;
        position: relative;
        max-width: 1440px;
        height: 100%;
        width: 100%;
    }

    &-top,
    &-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-top {
        margin-bottom: 15px;

        &__item {
            color: #FFFFFF;
            margin-right: 20px;

            &--last {
                text-align: center;
                margin-right: 0px;
            }

            &-title {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            &-text {
                line-height: 30px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
    }

    &-bottom {
        align-items: center;

        &__left {
            color: #FFFFFF;
            font-size: 16px;
            text-transform: uppercase;
        }

        &__right {
            cursor: pointer;
            display: flex;

            &-icon {
                transition: all 0.1s linear;
                margin-left: 10px;
                height: 30px;
                width: 30px;
            }
        }
    }
}

.footer-list {
    display: flex;
    flex-direction: column;

    &__el {
        cursor: pointer;
        line-height: 30px;
        text-transform: capitalize;
    }
}

.footer-btn {
    background: #E47F46;
    border: 2px solid transparent;
    border-radius: 50px;
    position: relative;
    transition: all 0.1s linear;
    height: 40px;
    width: 210px;

    &__text {
        color: #FFFFFF;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.1s linear;
    }

    &__icon {
        position: absolute;
        right: 2px;
        top: 2px;

        & path {
            transition: all 0.1s linear;
        }
    }
}


@media(hover: hover) {
    .footer-list__el:hover {
        text-decoration: underline;
    }

    .footer-btn:hover {
        background: transparent;
        border: 2px solid #E47F46;

        & .footer-btn__text {
            color: #E47F46;
        }

        & .footer-btn__icon path {
            fill: #E47F46;
        }
    }

    .footer-btn:active {
        border: 2px solid darken(#E47F46, 20%);

        & .footer-btn__text {
            color: darken(#E47F46, 20%);
        }

        & .footer-btn__icon path {
            fill: darken(#E47F46, 20%);
        }
    }

    .footer-bottom__right-icon:hover {
        transform: scale(1.5);
    }
}

@media(max-width: 1024px) {
    .footer__wrapper {
        padding: 20px 30px;
    }

    .footer-top__item-title {
        font-size: 14px;
    }

    .footer-top__item-text,
    .footer-list__el {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-top__item-text {
        margin-bottom: 15px;
    }

    .footer-btn {
        height: 30px;
        width: 150px;

        &__text {
            font-size: 12px;
            text-transform: none;
        }

        &__icon {
            top: 4px;
            right: 4px;
            height: 18px;
            width: 18px;
        }
    }

    .footer-bottom__left {
        font-size: 12px;
    }
}

@media(max-width: 600px) {
    .footer__wrapper {
        padding: 20px 20px 15px;
    }

    .footer-top__item {
        margin-right: 5px;

        &--last {
            display: none;
        }

        &-title {
            text-align: center;
        }
    }

    .footer-list {
        align-items: center;
    }
}
