.similar-goods {
    margin-bottom: 30px;
    width: 100%;

    &.mobile {
        margin-bottom: 60px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    
    &__slider {
        flex: 0 0 auto;
        position: relative;
        width: 100%;

        & .goods-item {
            margin-bottom: 0px;
        }
    }

    &__scroll {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0px 0px 10px 60px;
        overflow: auto;
        width: 100%;

        & .goods-item:last-child {
            margin-right: 0px;
        }
    }
}


@media(max-width: 1024px) {
    .similar-goods {
        margin-bottom: 20px;

        &.mobile {
            margin-bottom: 45px;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 15px;
        }

        &__slider {
            align-items: center;
            display: flex;
            overflow: auto;
            padding-left: 30px;
            padding-bottom: 10px;
        }

        &__scroll {
            justify-content: flex-start;
            padding-left: 30px;
        }
    }
}

@media(max-width: 500px) {
    .similar-goods {
        margin-bottom: 10px;

        &__title {
            font-size: 16px;
            margin-bottom: 10px;
        }

        &__slider {
            padding-left: 20px;
            padding-bottom: 10px;
        }

        &__scroll {
            padding-left: 20px;
        }
    }
}
