.account {
    display: flex;

    padding: 20px 30px;

    height: 100%;
    width: 100%;

    &__panel {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;

        padding-top: 10px;
        padding-right: 50px;

        &-title {
            cursor: pointer;

            font-size: 18px;
            font-weight: 500;

            margin-bottom: 45px;

            position: relative;

            &::after {
                background: #212121;
    
                content: '';
    
                position: absolute;
                bottom: -1px;
                left: 0px;
    
                transition: all 0.1s linear;
                height: 1px;
                width: 0px;
            }

            &.active {
                font-weight: 700;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__content {
        border-left: 2px solid #CFCCC7;

        display: flex;
        flex: 1 0 auto;
        flex-direction: column;

        padding-left: 50px;
        padding-top: 10px;
    }
}

@media(hover: hover) {
    .account__panel-title:hover {
        color: #E47F46;

        &::after {
            background: #E47F46;

            width: 100%;
        }
    }
}

@media(max-width: 1100px) {
    .account {
        padding: 20px;
        
        &__panel {
            padding-right: 30px;
        }

        &__content {
            padding-left: 30px;
        }
    }
}

@media(max-width: 767px) {
    .account {
        flex-direction: column;

        padding: 10px 10px;

        &__panel {
            border-bottom: 2px solid #CFCCC7;

            flex-direction: row;
            justify-content: space-between;

            padding: 0px 10px;

            &-title {
                margin-bottom: 10px;

                &.active::after {
                    width: 0px;
                }
            }
        }
        
        &__content {
            border-left: none;

            padding-left: 10px;
            padding-top: 20px;
        }
    }
}

@media(max-width: 500px) {
    .account__panel-title {
        font-size: 16px;
    }
}
