.admin__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 20px;
}

.admin-statuses {
    display: flex;

    &__btn {
        background: #E5E3E0;
        border-radius: 15px;
        align-items: center;
        display: flex;
        padding: 10px 15px;
        margin-right: 40px;

        &-text {
            font-size: 20px;
            font-weight: 500;
            margin-right: 10px;
        }

        &-number {
            color: #E47F46;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.admin-btns {
    display: flex;

    &__item {
        background: #E47F46;
        border-radius: 15px;
        align-items: center;
        display: flex;
        padding: 10px 15px;
        transition: all 0.1s linear;

        &--filters {
            margin-right: 15px;
        }

        &-text {
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
        }
    }
}


@media(hover: hover) {
    .admin-btns__item:hover {
        background: #1F1F21;
        transform: scale(1.02);
    }
}
