.sign-popup {
    background: #F3F3F3;
    border-radius: 30px;

    padding: 30px;

    overflow: hidden;
    pointer-events: auto;
    position: fixed;
    left: 50%;
    top: 50%;

    transition: transform 0.1s linear;
    transform: translate(-50%, -50%) scale(0);
    
    width: 500px;
    z-index: 6;

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }

    &__wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;

        position: relative;

        height: 100%;
        width: 100%;
    }

    &__blackout {
        z-index: 5 !important;
    }

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;

        width: 100%;

        & img {
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        width: 100%;

        &-title {
            font-size: 20px;
            font-weight: 500;

            margin-bottom: 15px;

            & span {
                font-weight: 700;
                text-transform: uppercase;
            }

            &--success {
                font-weight: 700;
            }
        }

        &-text {
            line-height: 20px;
            font-size: 16px;

            margin-bottom: 80px;

            & span:nth-child(2) {
                font-weight: 700;
            }
        }

        &-btn {
            border-radius: 10px;

            font-size: 16px;
            font-weight: 600;

            height: 40px;
            width: 100%;

            & span:last-child {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                
                display: inline-block;

                width: 28px;
            }
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 500;

            & span {
                cursor: pointer;

                margin-left: 5px;

                transition: all 0.1s linear;
                text-decoration: underline;
            }
        }

        &-error {
            color: #ED0A34;
            font-size: 14px;
            font-weight: 600;

            margin-top: 10px;

            text-align: center;

            height: 14px;
        }

        &-form {
            width: 100%;
        }
    }
}

.reg-form {
    display: flex;
    flex-direction: column;
    
    &__wrapper {
        align-items: flex-end;
        display: flex;

        position: relative;

        height: 70px;
        width: 100%;

        &-label {
            background: inherit;
            visibility: hidden;

            font-size: 12px;
            
            position: absolute;
            left: 0px;
            top: 10px;

            &.error {
                color: #ED0A34;
                font-size: 14px;
                font-weight: 600;

                visibility: visible !important;
            }

            &.active {
                visibility: visible;
            }
        }

        &-input {
            background: inherit;
            border-bottom: 1px solid #000000;

            font-size: 16px;
            font-weight: 600;

            padding: 10px 0px;

            width: 100%;
            
            &::placeholder {
                color: #000000;
                font-size: 14px;
                font-weight: 500;
            }

            &:focus ~ .reg-form__wrapper-label {
                visibility: visible;
            }

            &:focus::placeholder {
                visibility: hidden;
            }
        }
    }

    &__gender {
        align-items: center;
        display: flex;
        justify-content: space-between;

        margin: 20px 0px 0px;
        padding: 0px 20px;

        &-wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;

            & label {
                font-weight: 600;

                margin-bottom: 5px;
            }

            & input {
                appearance: none;
                -webkit-appearance: none;

                background: transparent;
                border: 1px solid #212121;
                border-radius: 100px;

                cursor: pointer;

                position: relative;
                transition: border 0.1s linear;

                height: 20px;
                width: 20px;

                &:hover {
                    border-color: lighten(#212121, 20%);
                }

                &::before {
                    border-radius: 100px;
                    content: '';

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: background 0.1s linear;

                    height: 12px;
                    width: 12px;
                }

                &:checked::before {
                    background: #212121;
                }

                &:checked:hover::before {
                    background: lighten(#212121, 20%);
                }
            }
        }
    }

    &__btn {
        border-radius: 15px;

        font-size: 20px;
        font-weight: 700;

        margin-top: 40px;

        height: 50px;
        width: 100%;
    }
}

@media(hover: hover) {
    .sign-popup__content-subtitle span:hover {
        color: #F47E46;
    }
}

@media(max-width: 550px) {
    .sign-popup {
        background: #F3F3F3;
        backdrop-filter: none;
        box-shadow: none;
        border: none;
        border-radius: 0px;
        -webkit-backdrop-filter: none;
        
        left: auto;
        top: -100%;

        padding: 20px;

        visibility: hidden;
        opacity: 0;

        transition: all 0.2s linear;
        transform: none;
        height: 100%;
        width: 100%;

        &.active {
            top: 0px;

            transform: none;
            visibility: visible;
            opacity: 1;
        }

        &__top {
            margin-bottom: 50px;
        }

        &__content-title {
            font-size: 18px;
        }
    }
}