.banner {
    flex: 0 0 600px;
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 100%;

    & .slick-dots {
        align-items: flex-end;
        display: flex !important;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        & li button {
            background: #FFFFFF;
            border-radius: 10px;
            color: transparent;
            margin: 0px 10px;
            transition: all 0.1s linear;
            height: 6px;
            width: 40px;
            z-index: 2;
        }

        & li.slick-active button {
            background: #E47F46;
        }
    }

    & .slick-list {
        overflow: hidden;
    }
    
    & .slick-track {
        display: flex;
    }

    & div {
        height: 100%;
        width: 100vw;
    }

    &__item {
        align-items: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        position: relative;
        height: 100%;
        width: 100%;

        &-title {
            background: #000000;
            box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.30), 0px 13px 27px -5px rgba(50, 50, 93, 0.25);
            color: #FFFFFF;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 5px;
            padding: 5px 60px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }
    }
}


@media(hover: hover) {
    .slick-dots li button:hover {
        background: lighten(#E47F46, 20%);
    }

    & li.slick-active button:hover {
        background: #E47F46;
    }
}

@media(max-width: 1024px) {
    .banner {
        flex: 0 0 500px;
        height: 500px;

        &__item-title {
            letter-spacing: 3px;
            padding: 5px 30px;
            font-size: 32px;
        }
    }
}

@media(max-width: 500px) {
    .banner {
        flex: 0 0 375px;
        height: 375px;

        & .slick-dots {
            bottom: 10px;

            & li button {
                margin: 0px 6px;
                height: 4px;
                width: 20px;
            }
        }

        &__item-title {
            letter-spacing: 1px;
            padding: 5px 20px;
            font-size: 20px;
        }
    }
}
