.slider {
    margin-top: -10px;

    position: relative;
    pointer-events: none;
    overflow: hidden;
    
    max-width: 1600px;
    height: 380px;
    width: 100%;

    & .slick-list {
        overflow: hidden;
    }

    & .slick-track {
        display: flex;
    }

    & .slick-dots {
        display: flex !important;
        justify-content: center;

        margin: 10px 0px;

        & li button {
            background: #E5E3E0;
            border-radius: 50px;
            
            color: transparent;
            
            margin: 0px 5px;
            pointer-events: auto;
            
            transition: all 0.2s linear;
            height: 10px;
            width: 60px;
        }

        & li.slick-active button {
            background: #212121;
        }
    }

    &__section {
        position: relative;

        &-item {
            height: 350px;
            width: 100%;
        }
    }

    &-item {
        align-items: center;
        display: flex;
        justify-content: center;

        background-position: center center;
        background-size: cover;
        border: 5px solid #F3F3F3;
        border-radius: 20px;
    
        position: relative;

        &__title {
            color: #FFFFFF;
            font-size: 48px;
            font-weight: 700;

            text-shadow: 3px 3px #000000;
            text-transform: uppercase;
        }
    
        &__sign {
            font-size: 14px;
            text-transform: uppercase;
    
            position: absolute;
            bottom: 20px;
            right: 20px;
    
            text-align: center;
    
            height: 24px;
            width: 70px;
        }
    }
}

@media(hover: hover) {
    .slick-dots li button:hover {
        background: #3F3F3F;
    }

    & li.slick-active button:hover {
        background: #212121;
    }
}

@media(max-width: 1600px) {
    .slider-item {
        border-radius: 0px;
        border: 2px solid #E5E3E0;
        border-left: none;
        border-right: none;
    }
}

@media(max-width: 1100px) {
    .slider-item__title {
        font-size: 38px;
    }
}

@media(max-width: 767px) {
    .slider {
        height: 280px;

        &__section-item {
            border: 5px solid #F3F3F3;
            border-radius: 20px;

            height: 250px;
        }
    }

    .slick-dots {
        margin: 5px 0px;
        
        & li button {
        width: 50px;
        }
    }

    .slider-item__title {
        font-size: 30px;
    }
}

@media(max-width: 600px) {
    .slider-item__title {
        font-size: 24px;
    }
}

@media(max-width: 500px) {
    .slider {
        height: 180px;

        &__section-item {
            height: 150px;
        }
    }
}

@media(max-width: 460px) {
    .slider-item__title {
        font-size: 18px;
    }

    .slider-item__sign {
        font-size: 12px;

        bottom: 10px;
        right: 10px;

        height: 20px;
        width: 50px;
    }
}

@media(max-width: 400px) {
    .slider-item__title {
        font-size: 16px;
    }
}
