.admin__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 20px;
    width: 100%;
}

.admin-statuses {
    display: flex;

    &__btn {
        background: #E5E3E0;
        border-radius: 15px;
        align-items: center;
        display: flex;
        padding: 10px 15px;
        margin-right: 30px;

        &-text {
            font-size: 16px;
            font-weight: 500;
            margin-right: 10px;
        }

        &-number {
            color: #E47F46;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.admin-btns {
    display: flex;

    &__item {
        background: #E47F46;
        border-radius: 15px;
        align-items: center;
        display: flex;
        padding: 10px 15px;
        transition: all 0.1s linear;

        &--filters {
            margin-right: 15px;
        }

        &-text {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 500;
            margin-left: 10px;
        }
    }
}

.admin__table {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-height: 800px;
    margin-top: 15px;
    overflow: auto;
    height: 100%;
}

.table-header {
    display: flex;
    width: 100%;

    &__item {
        background: #E47F46;
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        cursor: pointer;
        position: relative;
        padding: 15px;

        &--name {
            flex: 1 0 auto;
        }

        &-title {
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 500;
            margin-right: 5px;
        }

        &-icon {
            flex: 0 0 auto;
            transition: all 0.1s linear;

            &.active {
                transform: rotate(180deg);
            }
        }
    }
}

.table-wrapper {
    cursor: pointer;
    display: flex;
    width: 100%;

    & .table-wrapper__item {
        border-bottom: 1px solid #1F1F21;
    }

    &:last-child .table-wrapper__item {
        border-bottom: none;
    }

    &__item {
        background: #E5E3E0;
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        padding: 15px;

        &--id {
            max-width: 100px;
            width: 100%;
        }

        &--create {
            max-width: 155px;
            width: 100%;
        }

        &--update {
            max-width: 165px;
            width: 100%;
        }

        &--active {
            max-width: 115px;
            width: 100%;
        }

        &--popular {
            max-width: 128px;
            width: 100%;
        }

        &--price,
        &--male {
            max-width: 100px;
            width: 100%;
        }

        &--brand {
            text-transform: capitalize;
            max-width: 90px;
            width: 100%;
        }

        &--name {
            flex: 1 1 auto;
            justify-content: flex-start;
            min-width: 165px;
            width: 100%;

            & .table-wrapper__item-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                min-width: 0px;
            }
        }

        &-title {
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            margin-right: 5px;
            text-align: center;
        }
    }
}

.table-list {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    padding: 20px 0px;
    transition: all 0.1s linear;
    left: 15px;
    top: 90%;
    z-index: 1;

    &--popular {
        right: 10px;
        left: auto;
    }

    &.active {
        pointer-events: auto;
        opacity: 1;
    }

    &__el {
        align-items: center;
        display: flex;
        padding: 0px 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }

        &-icon {
            flex: 0 0 auto;
            
            & circle {
                transition: all 0.1s linear;
            }
        }

        &-text {
            margin-left: 5px;
            transition: all 0.1s linear;
            white-space: nowrap;
        }
    }
}


@media(hover: hover) {
    .admin-btns__item:hover {
        background: #1F1F21;
        transform: scale(1.02);
    }

    .table-list__el:hover .table-list__el-text {
        color: #898989;
    }

    .table-list__el:hover .table-list__el-icon circle {
        stroke: #898989;

        &:nth-child(2) {
            fill: #898989;
        }
    }
}
